<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link href="bootstrap-3.3.6-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/category.css">
	<title>Nơi dành riêng cho phái yếu</title>
</head>
<body>
	<div id="layout">
		<div id="header">
			<div class="center">
				<div class="search">
					<input type="text" placeholder="Tìm kiếm">
					<a href=""><img src="images/icon/search.png"></a>  	
				</div>

				<div class="logo">
                    <a href=""><img src="images/logo.png"></a>
                </div>

                <div class="text-right icon">
                    <ul class="list-inline">
						<li><a href="" title="Facebook"><img src="images/icon/facebook.png"></a></li>
                        <li><a href="" title="Twitter"><img src="images/icon/twitter.png"></a></li>
                        <li><a href="" title="Google"><img src="images/icon/google.png"></a></li>
                        <li><a href="" title="Youtube"><img src="images/icon/youtube.png"></a></li>
                    </ul>
                </div>

                <div class="menu">
                	<ul>
                            <li class="first">
                                <a href="#" title = "Trang chủ"><span class="glyphicon glyphicon-home"></span> TRANG CHỦ</a>
                                <span class="borderMenu"></span>
                            </li>
                            <li>
                                <a href="#" title = "Sao">SAO</a>
                                <span class="borderMenu"></span>
                            </li>
                            <li>
                                <a href="#" title = "Nàng tám" class="active">NÀNG TÁM</a>
                                <span class="borderMenu"></span>
                            </li>
                            <li>
                                <a href="#" title = "Đẹp">ĐẸP</a>
                                <span class="borderMenu"></span>
                            </li>
                            <li>
                                <a href="#" title = "Giải trí">GIẢI TRÍ</a>
                                <span class="borderMenu"></span>
                            </li>
                            <li>
                                <a href="#" title = "Sức khỏe">SỨC KHỎE</a>
                                <span class="borderMenu"></span>
                            </li>
                            <li>
                                <a href="#" title = "Bà bầu">BÀ BẦU</a>
                                <span class="borderMenu"></span>
                            </li>
                            <li>
                                <a href="#" title = "Thời trang">THỜI TRANG</a>
                                <span class="borderMenu"></span>
                            </li>
                            <li>
                                <a href="#" title = "Ăn chơi">ĂN CHƠI</a>
                                <span class="borderMenu"></span>
                            </li>
                            <li>
                                <a href="#" title = "Thế giới 8">THẾ GIỚI 8</a>
                                <span class="borderMenu"></span>
                            </li>
                            <li class="last">
                                <a href="#" title = "Độc lạ">ĐỘC LẠ</a>
                            </li>
                        </ul>        
                </div>
			</div>
		</div><!-- end of header -->

		<div class="breadcrumbs">
			<div class="center">
				<ol class="breadcrumb">
					<li><a href="#" title="Trang chủ">TRANG CHỦ</a></li>
					<li><a href="#" title="Nàng tám">NÀNG TÁM</a></li>
				</ol>
			</div>
		</div><!-- end of breadcrumbs -->

		<div id="content">
	    	<div class="center">
	    		<div class="section">
	    			<div class="newsTop">
	    				<div class="newsTopLeft">
	    					<div class="heading">
	    						<a href="" title="11 người trẻ dưới 30 tuổi có sức ảnh hưởng lớn nhất mạng xã hội">
	    							<span>11 người trẻ dưới 30 tuổi có sức ảnh hưởng lớn nhất mạng xã hội</span>
	    						</a>
	    					</div>
	    				</div>

	    				<div class="newsTopRight">
	    					<div class="linkList">
                                <div class="listItem">
                                    <div class="itemLeft">
                                        <a href="" title="Đã bắt được nghi phạm chính vụ khủng bố ở Paris"><img src="images/photo16.jpg"></a>
                                    </div>
                                    <div class="itemRight">
                                        <a href="" title="Đã bắt được nghi phạm chính vụ khủng bố ở Paris">Đã bắt được nghi phạm chính vụ khủng bố ở Paris</a><br>
                                        <span>3 phút trước</span>
                                    </div>
                                </div>
                                <div class="listItem">
                                    <div class="itemLeft">
                                        <a href="" title="G-Dragon bất khả chiến bại về khoản bán album"><img src="images/photo17.jpg"></a>
                                    </div>
                                    <div class="itemRight">
                                        <a href="" title="G-Dragon bất khả chiến bại về khoản bán album">G-Dragon bất khả chiến bại về khoản bán album</a><br>
                                        <span>25/3/2016</span>
                                    </div>
                                </div>
                                <div class="listItem">
                                    <div class="itemLeft">
                                        <a href="" title="Khả Ngân chạy nước rút cho Đêm điện ảnh"><img src="images/photo18.jpg"></a>
                                    </div>
                                    <div class="itemRight">
                                        <a href="" title="Khả Ngân chạy nước rút cho Đêm điện ảnh">Khả Ngân chạy nước rút cho Đêm điện ảnh</a><br>
                                        <span>12/3/2016</span>
                                    </div>
                                </div>
                                <div class="listItem">
                                    <div class="itemLeft">
                                        <a href="" title="Vợ căng sữa sau khi sinh chồng từ bỏ chuyện ấy"><img src="images/photo19.jpg"></a>
                                    </div>
                                    <div class="itemRight">
                                        <a href="" title="Vợ căng sữa sau khi sinh chồng từ bỏ chuyện ấy">Vợ căng sữa sau khi sinh chồng từ bỏ chuyện ấy</a><br>
                                        <span>3 phút trước</span>
                                    </div>
                                </div>        
                            </div>	
	    				</div>
	    			</div><!-- end of newsTop -->

	    			<div class="newsMid">
	    				<div class="newssLeft">
                            <a href="" title="Quyến rũ, tinh tế với phong cách Bohemian - Ngôi sao">
                            	<img src="images/photo14.jpg">
                            </a>
                            <a href="" title="Quyến rũ, tinh tế với phong cách Bohemian - Ngôi sao">Quyến rũ, tinh tế với phong cách Bohemian - Ngôi sao
                            </a>  
                        </div>

                        <div class="newssLeft">
                            <a href="" title="16 tình huống khó chịu thường gặp khi mua sắm của các Ngôi sao">
                            	<img src="images/photo15.jpg">
                            </a>
                            <a href="" title="16 tình huống khó chịu thường gặp khi mua sắm của các Ngôi sao">16 tình huống khó chịu thường gặp khi mua sắm của các Ngôi sao</a> 
                        </div>

                        <div class="newssRight">
                            <a href="" title="Gigi Hadid mặc áo khoét sâu, quần xẻ tà trên thảm đỏ">
                            	<img src="images/photo30.jpg">
                            </a>
                            <a href="" title="Gigi Hadid mặc áo khoét sâu, quần xẻ tà trên thảm đỏ">Gigi Hadid mặc áo khoét sâu, quần xẻ tà trên thảm đỏ</a> 
                        </div>

	    			</div><!-- end of newsMid -->

	    			<div class="newsBot">
	    				<div class="newsBotItem">
	    					<div class="itemBotLeft">
	    						<a href="" title="Mẹ đơn thân 8x và loạt hình xăm khủng trên người">
	    							<img src="images/photo38.jpg">	
	    						</a>
	    					</div>

	    					<div class="itemBotRight">
	    						<a href="" title="Mẹ đơn thân 8x và loạt hình xăm khủng trên người">Mẹ đơn thân 8x và loạt hình xăm khủng trên người</a><br>
	    						<span>22/03/2016 11:49</span>
	    						<p>Huỳnh Mỹ Ngân (sinh năm 1989, quê Mỹ Tho, Tiền Giang) là một trong những cô gái đam mê nghệ thuật xăm hình và hiện...</p>
	    					</div>
	    				</div>

	    				<div class="newsBotItem">
	    					<div class="itemBotLeft">
	    						<a href="" title="Mẹ đơn thân 8x và loạt hình xăm khủng trên người">
	    							<img src="images/photo39.jpg">	
	    						</a>
	    					</div>

	    					<div class="itemBotRight">
	    						<a href="" title="Mẹ đơn thân 8x và loạt hình xăm khủng trên người">Mẹ đơn thân 8x và loạt hình xăm khủng trên người</a><br>
	    						<span>22/03/2016 11:49</span>
	    						<p>Huỳnh Mỹ Ngân (sinh năm 1989, quê Mỹ Tho, Tiền Giang) là một trong những cô gái đam mê nghệ thuật xăm hình và hiện...</p>
	    					</div>
	    				</div>

	    				<div class="newsBotItem">
	    					<div class="itemBotLeft">
	    						<a href="" title="Mẹ đơn thân 8x và loạt hình xăm khủng trên người">
	    							<img src="images/photo40.jpg">	
	    						</a>
	    					</div>

	    					<div class="itemBotRight">
	    						<a href="" title="Mẹ đơn thân 8x và loạt hình xăm khủng trên người">Mẹ đơn thân 8x và loạt hình xăm khủng trên người</a><br>
	    						<span>22/03/2016 11:49</span>
	    						<p>Huỳnh Mỹ Ngân (sinh năm 1989, quê Mỹ Tho, Tiền Giang) là một trong những cô gái đam mê nghệ thuật xăm hình và hiện...</p>
	    					</div>
	    				</div>

	    				<div class="newsBotItem">
	    					<div class="itemBotLeft">
	    						<a href="" title="Mẹ đơn thân 8x và loạt hình xăm khủng trên người">
	    							<img src="images/photo41.jpg">	
	    						</a>
	    					</div>

	    					<div class="itemBotRight">
	    						<a href="" title="Mẹ đơn thân 8x và loạt hình xăm khủng trên người">Mẹ đơn thân 8x và loạt hình xăm khủng trên người</a><br>
	    						<span>22/03/2016 11:49</span>
	    						<p>Huỳnh Mỹ Ngân (sinh năm 1989, quê Mỹ Tho, Tiền Giang) là một trong những cô gái đam mê nghệ thuật xăm hình và hiện...</p>
	    					</div>
	    				</div>

	    				<div class="paginator">
	    					<ul>								
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
							</ul>
	    				</div>
	    			</div>

	    		</div>

	    		<div class="aside">
	    			<img src="images/nav.jpg">
	    		</div>
	    	</div>
	    </div>	

	    	<div id="footer">
	    		<div class="center">
	    			<div class="menuFt">
	    				<ul>
                            <li>
                                <a href="#" title = "Trang chủ">TRANG CHỦ</a>
                            </li>
                            <li>
                                <a href="#" title = "Sao">SAO</a>
                            </li>
                            <li>
                                <a href="#" title = "Nàng tám">NÀNG TÁM</a>
                            </li>
                            <li>
                                <a href="#" title = "Đẹp">ĐẸP</a>
                            </li>
                            <li>
                                <a href="#" title = "Giải trí">GIẢI TRÍ</a>
                            </li>
                            <li>
                                <a href="#" title = "Sức khỏe">SỨC KHỎE</a>
                            </li>
                            <li>
                                <a href="#" title = "Bà bầu">BÀ BẦU</a>
                            </li>
                            <li>
                                <a href="#" title = "Thời trang">THỜI TRANG</a>
                            </li>
                            <li>
                                <a href="#" title = "Ăn chơi">ĂN CHƠI</a>
                            </li>
                            <li>
                                <a href="#" title = "Thế giới 8">THẾ GIỚI 8</a>
                            </li>
                            <li>
                                <a href="#" title = "Độc lạ">ĐỘC LẠ</a>
                            </li>
                        </ul>	
	    			</div>

	    			<div class="logoFt">
	    				<a href=""><img src="images/logo.png"></a>
	    			</div>

	    			<div class="copyright">
	    				@Copyright 2016 Cung8.com, All rights reserved.  
	    			</div>
	    		</div>	
	    	</div><!-- end of footer -->
	</div><!-- end of layout -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="bootstrap-3.3.6-dist/js/jquery-2.2.4.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
</body>
</html>